<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3> 

                <div 
                    *ngIf="lista_usuarios.length === 0"
                    class="alert alert-info animated fadeIn fast" >
                    <p class="mb-0">
                        no hay usuarios con ese termino
                    </p>
                </div>




                    <div class="table-responsive">
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Nombre</th>
                            </thead>

                            <tbody>
                                <tr 
                                    *ngFor="let item of lista_usuarios"
                                    class="animated fadeIn fast">
                                    <td> 
                                        <img [src]= "item.img! | imagen: 'usuarios'" class="w100">                                        
                                    </td>
                                    <td>{{item.nombre}}</td>
                                </tr>                               
                            </tbody>

                        </table>
                    </div>
                </div>




        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Medicos</h3> 

                <div 
                    *ngIf="lista_medicos.length === 0"
                    class="alert alert-info animated fadeIn fast">
                    <p class="mb-0">
                        no hay medicos con ese termino
                    </p>
                </div>




                    <div class="table-responsive">
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                            </thead>

                            <tbody>
                                <tr 
                                    *ngFor="let item of lista_medicos"
                                    class="animated fadeIn fast"
                                    >
                                    <td>
                                        <img [src]="item.img! | imagen: 'medicos'" class="w100"> 
                                        
                                     </td>
                                    <td> 
                                        <a [routerLink]="['/dashboard/medico', item._id]">
                                            {{item.nombre}} 
                                        </a>
                                    </td>
                                </tr>                               
                            </tbody>

                        </table>
                    </div>
                </div>




        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3> 

                <div 
                    *ngIf="lista_medicos.length === 0"
                    class="alert alert-info animated fadeIn fast">
                    <p class="mb-0">
                        no hay hospitales con ese termino
                    </p>
                </div>




                    <div class="table-responsive">
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                            </thead>

                            <tbody>
                                <tr 
                                    *ngFor="let item of lista_hospitales"
                                    class="animated fadeIn fast">
                                    <td>
                                        <img [src]="item.img! | imagen: 'hospitales' " class="w100"> 
                                       
                                    </td>
                                    <td> {{item.nombre}} </td>
                                </tr>                             
                            </tbody>

                        </table>
                    </div>
                </div>




        </div>
    </div>
</div>
